@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #20B2AA;
}

.sidebar {
  background-color: var(--primary-color);
  color: white;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
}

h1 {
  @apply text-4xl font-bold text-white;
}

h2 {
  @apply text-2xl font-semibold text-gray-600;
}
h3{
  @apply text-xl font-semibold text-gray-400;
}

p {
  @apply text-base text-gray-800;
}